<div class="mt-4">
    <form method="GET">
        <div class="form-group">
            <label for="search-input">Tu khoa</label>
            <input type="text" name="fullname">
            <input type="text" name="age">
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa">
        </div>

        <button type="submit" class="btn btn-primary">Tim Kiem</button>
    </form>
</div>